*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0;
}
@font-face{
    font-family: "Nunito-Bold";
    src:  url('../fonts/Nunito-Bold.ttf') format('truetype');
}
#header{
    height: 500px;
    background-color: #deecdf;
    text-align: center;
}
#header img{
    margin-top: 80px;
}
.nunito-bold{
    font-family: "Nunito-Bold";
}
#study-skill{
    margin-top: 30px;
}
.wrapper{
    width: 970px;
    margin: 0 auto;
}

.study, .skill{
    width: 470px;
    height: 270px;
}
.study{
    float: left;
}
.skill{
    float: right;
}
.exclamatory{
    color: #00CFBD;
}
.study-list li{
    color: #393b3a;
    height: 22px;
    margin-top: 20px;
}
.study-list .year{
    color: #9CA69D;
    font-weight: bolder;
    float: right;
}
.study-list .content{
    width: 400px;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.skill .progress{
    width: 440px;
    height: 20px;
    background-color: #F5F5F5;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.skill h4{
    margin-top: 10px;
}
.skill .progress div{
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.skill .html{
    width: 85%;
    background-color: #deecdf;
}
.skill .css{
    width: 60%;
    background-color: #acb5c8;
}
.skill .js{
    width: 40%;
    background-color: #78b3ae;
}
.skill .php{
    width: 75%;
    background-color: #8c9d82;
}